*.hi
*.o
.*.sw?
.sw?
.envrc
.direnv
/.spago
/bazel-*
/database
/frontend/.psci_modules/
/frontend/.spago
/frontend/main.js
/frontend/output
/index.js
/output
/result
/result-*
/release/bin/
/release/lib/
