div#graph {
    text-align: center;
    margin-top: 200px;
}

div#SearchBoxOverlay {
    display: flex;
    height: auto;
    justify-content: center;
    left: 0;
    max-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

div#SearchBox {
    background-color: hsl(197, 17%, 92%);
    border-radius: 20px;
    border: 1px solid hsl(197, 23%, 40%);
    margin: 30px 30px 0px;
    opacity: 95%;
    overflow: hidden;
}

div#SearchBar {
    align-items: center;
    display: flex;
    padding: 30px 30px 0px;
}

input#PatternInput {
    border-radius: 5px;
    flex-grow: 1;
    font-size: 18px;
    min-width: 600px;
    padding: 5px 10px;
    text-align: center;
    text-overflow: ellipsis;
}

span#NodeCount {
    color: hsl(0, 0%, 31%);
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
    user-select: none;
}

div#SearchResults {
    padding: 15px 0px 15px;
}

div.ResultRow {
    color: hsl(0, 0%, 50%);
    cursor: pointer;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 2px 40px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

div.ResultRow.Selected {
    background-color: hsl(199, 21%, 82%);
}

div.ResultRow:hover, div.ResultRow.Selected:hover {
    background-color: hsl(199, 21%, 77%);
}

div.ResultRow > span.NodeType {
    font-weight: bold;
    margin-right: 10px;
    overflow: ellipsis;
    white-space: nowrap;
}

div.ResultRow > span.Context {
    color: hsl(0, 0%, 50%);
}

div.ResultRow > span.Highlight {
    color: hsl(0, 0%, 0%);
    text-decoration: underline;
}

div.ResultRow                           span.NodeType { color: hsl(  0,  0%, 25%); }
div.ResultRow.ActionExecution           span.NodeType { color: hsl(318, 55%, 29%); }
div.ResultRow.Artifact                  span.NodeType { color: hsl( 71, 55%, 29%); }
div.ResultRow.ArtifactNestedSet         span.NodeType { color: hsl( 71, 55%, 29%); }
div.ResultRow.ClientEnvironmentVariable span.NodeType { color: hsl(163, 55%, 29%); }
div.ResultRow.ConfiguredTarget          span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.ContainingPackageLookup   span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.DirectoryListing          span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.DirectoryListingState     span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.File                      span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.FileState                 span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.Glob                      span.NodeType { color: hsl(233, 55%, 29%); }
div.ResultRow.PackageLookup             span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.SingleToolchainResolution span.NodeType { color: hsl(  7, 55%, 29%); }
div.ResultRow.SingleToolchainResolution span.NodeType { color: hsl(  7, 55%, 29%); }
div.ResultRow.TargetCompletion          span.NodeType { color: hsl(198, 55%, 29%); }
div.ResultRow.ToolchainResolution       span.NodeType { color: hsl(  7, 55%, 29%); }

g.node                                  text.NodeType {  fill: hsl(  0,  0%, 25%); }
g.node.ActionExecution                  text.NodeType {  fill: hsl(318, 55%, 29%); }
g.node.Artifact                         text.NodeType {  fill: hsl( 71, 55%, 29%); }
g.node.ArtifactNestedSet                text.NodeType {  fill: hsl( 71, 55%, 29%); }
g.node.ClientEnvironmentVariable        text.NodeType {  fill: hsl(163, 55%, 29%); }
g.node.ConfiguredTarget                 text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.ContainingPackageLookup          text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.DirectoryListing                 text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.DirectoryListingState            text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.File                             text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.FileState                        text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.Glob                             text.NodeType {  fill: hsl(233, 55%, 29%); }
g.node.PackageLookup                    text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.SingleToolchainResolution        text.NodeType {  fill: hsl(  7, 55%, 29%); }
g.node.SingleToolchainResolution        text.NodeType {  fill: hsl(  7, 55%, 29%); }
g.node.TargetCompletion                 text.NodeType {  fill: hsl(198, 55%, 29%); }
g.node.ToolchainResolution              text.NodeType {  fill: hsl(  7, 55%, 29%); }

g.node {
    cursor: pointer;
    user-select: none;
}

g.node text.NodeType {
    font-size: 14px;
    font-weight: bold;
}

g.node text.NodeLabel {
    font-size: 10px;
}

g.node path {
    fill: hsl(0, 0%, 94%);
    transition: fill 500ms ease-in-out;
}

g.node.Changed path, g.node.Collapsed.Changed path {
    fill: hsl(49, 100%, 79%);
}

g.node ellipse.node {
    fill: hsl(0, 0%, 100%);
    stroke: hsl(0, 0%, 25%);
}

g.node.Collapsed path {
    fill: hsl(0, 0%, 100%);
    stroke: hsl(0, 0%, 100%);
}

g.node.Selected:hover path {
    fill: hsl(175, 100%, 95%);
}

g.node.Selected path {
    stroke: hsl(0, 0%, 25%);
    fill: hsl(0, 0%, 94%);
}

g.node.Unselected:hover path {
    fill: hsl(175, 100%, 95%);
}

g.node.Unselected path {
    stroke-dasharray: 5 2;
    stroke: hsl(0, 0%, 25%);
    fill: hsl(0, 0%, 100%);
}
