div#imports {
    margin: 10px 10px;
    overflow: hidden;
    pointer-events: auto;
}

div.import {
    align-items: center;
    color: hsl(0, 0%, 25%);
    display: flex;
    font-family: monospace;
    font-size: 16px;
    padding: 0px 30px;
    text-decoration: none;
}

div.import:hover a {
    font-weight: bold;
}

div.import a:active {
    color: hsl(0, 0%, 0%);
}

div.import a {
    color: hsl(0, 0%, 25%);
    text-decoration: none;
}

div.import span {
    padding: 10px 10px;
}

div.import span.importPath {
    font-size: 13px;
    flex: 1 1;
}

div.import input.delete {
    width: 16px;
    height: 16px;
}

div.button {
    text-align: right;
}

div.button input {
    padding: 5px 10px;
    margin: 5px 0px;
}

div#Graph {
    text-align: center;
    margin-top: 128px;
}

div#SearchBoxOverlay {
    display: flex;
    height: auto;
    justify-content: center;
    left: 0;
    max-height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
}

div#SearchBox {
    background-color: hsla(197, 17%, 92%, 90%);
    border-radius: 20px;
    border: 1px solid hsl(197, 23%, 40%);
    display: flex;
    flex-direction: column;
    margin: 30px 60px 70px;
    /*opacity: 95%;*/
    overflow: hidden;
    pointer-events: auto;
}

div#SearchBox.Expanded.Fade {
    opacity: 15%;
    transition: opacity 1000ms ease;
}

div#SearchBar {
    align-items: center;
    display: flex;
    padding: 30px 30px 0px;
}

input#PatternInput {
    border-radius: 5px;
    flex-grow: 1;
    font-size: 18px;
    min-width: 300px;
    padding: 5px 10px;
    text-align: center;
    text-overflow: ellipsis;
}

span#NodeCount {
    color: hsl(0, 0%, 31%);
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
    user-select: none;
}

div#SearchResults {
    margin: 15px 0px;
    overflow-y: auto;
}

div.ResultRow {
    color: hsl(0, 0%, 50%);
    cursor: pointer;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 2px 40px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

div.ResultRow.Selected {
    background-color: hsl(199, 21%, 82%);
}

div.ResultRow:hover, div.ResultRow.Selected:hover {
    background-color: hsl(199, 21%, 77%);
}

div.ResultRow > span.NodeType {
    font-weight: bold;
    margin-right: 10px;
    overflow: ellipsis;
    white-space: nowrap;
}

div.ResultRow > span.Context {
    color: hsl(0, 0%, 50%);
}

div.ResultRow > span.Highlight {
    color: hsl(0, 0%, 0%);
    text-decoration: underline;
}

div.ResultRow                           span.NodeType { color: hsl(  0,  0%, 25%); }
div.ResultRow.ActionExecution           span.NodeType { color: hsl(318, 55%, 29%); }
div.ResultRow.Artifact                  span.NodeType { color: hsl( 71, 55%, 29%); }
div.ResultRow.ArtifactNestedSet         span.NodeType { color: hsl( 71, 55%, 29%); }
div.ResultRow.BuildConfiguration        span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.ClientEnvironmentVariable span.NodeType { color: hsl(163, 55%, 29%); }
div.ResultRow.ConfiguredTarget          span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.ContainingPackageLookup   span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.DirectoryListing          span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.DirectoryListingState     span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.File                      span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.FileState                 span.NodeType { color: hsl(271, 55%, 29%); }
div.ResultRow.Glob                      span.NodeType { color: hsl(233, 55%, 29%); }
div.ResultRow.PackageLookup             span.NodeType { color: hsl(117, 55%, 29%); }
div.ResultRow.SingleToolchainResolution span.NodeType { color: hsl(  7, 55%, 29%); }
div.ResultRow.SingleToolchainResolution span.NodeType { color: hsl(  7, 55%, 29%); }
div.ResultRow.TargetCompletion          span.NodeType { color: hsl(198, 55%, 29%); }
div.ResultRow.ToolchainResolution       span.NodeType { color: hsl(  7, 55%, 29%); }

g.node                                  text.NodeType {  fill: hsl(  0,  0%, 25%); }
g.node.ActionExecution                  text.NodeType {  fill: hsl(318, 55%, 29%); }
g.node.Artifact                         text.NodeType {  fill: hsl( 71, 55%, 29%); }
g.node.ArtifactNestedSet                text.NodeType {  fill: hsl( 71, 55%, 29%); }
g.node.BuildConfiguration               text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.ClientEnvironmentVariable        text.NodeType {  fill: hsl(163, 55%, 29%); }
g.node.ConfiguredTarget                 text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.ContainingPackageLookup          text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.DirectoryListing                 text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.DirectoryListingState            text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.File                             text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.FileState                        text.NodeType {  fill: hsl(271, 55%, 29%); }
g.node.Glob                             text.NodeType {  fill: hsl(233, 55%, 29%); }
g.node.PackageLookup                    text.NodeType {  fill: hsl(117, 55%, 29%); }
g.node.SingleToolchainResolution        text.NodeType {  fill: hsl(  7, 55%, 29%); }
g.node.SingleToolchainResolution        text.NodeType {  fill: hsl(  7, 55%, 29%); }
g.node.TargetCompletion                 text.NodeType {  fill: hsl(198, 55%, 29%); }
g.node.ToolchainResolution              text.NodeType {  fill: hsl(  7, 55%, 29%); }

g.node {
    cursor: pointer;
    user-select: none;
}

g.node text.NodeType {
    font-size: 14px;
    font-weight: bold;
}

g.node text.NodeLabel {
    font-size: 10px;
}

g.node path {
    fill: hsl(0, 0%, 94%);
    transition: fill 500ms ease-in-out;
}

g.node.Highlight path, g.node.Highlight ellipse, g.node.Collapsed.Highlight path {
    fill: hsl(49, 100%, 79%);
}

g.node ellipse {
    fill: hsl(0, 0%, 100%);
    stroke: hsl(0, 0%, 25%);
}

g.node.Collapsed path {
    fill: hsl(0, 0%, 100%);
    stroke: hsl(0, 0%, 100%);
}

g.node.Selected:hover path {
    fill: hsl(175, 100%, 95%);
}

g.node.Selected path {
    stroke: hsl(0, 0%, 25%);
    fill: hsl(0, 0%, 94%);
}

g.node.Unselected:hover path {
    fill: hsl(175, 100%, 95%);
}

g.node.Unselected path {
    stroke-dasharray: 5 2;
    stroke: hsl(0, 0%, 25%);
    fill: hsl(0, 0%, 100%);
}

g.edge text {
    cursor: pointer;
    fill: hsl(0, 0%, 25%);
    font-size: 12px;
    user-select: none;
}

g.edge:hover text {
    fill: hsl(134.9, 100%, 57.3%)
    font-weight: bold;
}

g.edge.Animate path, g.edge:hover path {
    /*stroke: hsl(175, 100%, 50%);*/
    animation: dash 200ms linear;
    animation-iteration-count: infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 5;
    }
    to {
        stroke-dashoffset: 0;
    }
}

div#Trade.Hidden {
    opacity: 0%;
}

div#Tray {
    align-items: center;
    border-radius: 10px;
    bottom: 8px;
    display: flex;
    justify-content: center;
    opacity: 90%;
    padding: 4px;
    position: fixed;
    right: 8px;

}

div#Tray div {
    color: hsl(0, 0%, 25%);
    opacity: 0%;
    transition: opacity 1000ms ease;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#Tray div.Rendering {
    opacity: 90%;
}

div#Tray div.RenderDone {
    opacity: 90%;
}

div#Tray div.RenderFail {
    color: hsl(0, 86%, 37%);
    background-color: hsla(3, 81%, 48%, 10%);
    border: 1px solid hsl(0, 55.9%, 40%);
    opacity: 90%;
}

span#Status {
    cursor: default;
    font-size: 16px;
    font-style: italic;
    user-select: none;
    margin: 0px 8px;
}

div.RenderDone span#Status {
    color: hsl(0, 0%, 50%);
}

a#Save {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

span#Icon {
    font-size: 24px;
    cursor: pointer;
}

div.Rendering span#Icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
      0% { transform: rotate(  0deg); }
     35% { transform: rotate(  0deg); }
     40% { transform: rotate( 10deg); }
     50% { transform: rotate(180deg); }
     60% { transform: rotate(350deg); }
     65% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
