div.searchBox {
    background-color: #e7ecee;
    border-radius: 20px;
    opacity: 90%;
    padding: 30px;
    overflow: hidden;
    min-width: 800px;
}

div.resultRow span.nodeType { color: #3f3f3f; }

span.highlight {
    color: #000000;
    text-decoration: underline;
}

div.resultRow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7f7f7f;
}

div.resultRow.unselected:hover {
    background-color: #e5fffd;
}

div.resultRow.selected:hover {
    background-color: #e5fffd;
}

div.resultRow.selected {
    background-color: hsla(199, 21%, 82%, 1);
}

text.nodeType {
    font-size: 14;
    font-weight: bold;
}

text.nodeLabel {
    font-size: 10;
}

g.node {
    fill: #3f3f3f;
    cursor: pointer;
    user-select: none;
}

ellipse.node {
    fill: #ffffff;
    stroke: #3f3f3f;
}

g.node.Collapsed path {
    fill: #ffffff;
    stroke: #ffffff;
}

g.node.selected:hover path {
    fill: #e5fffd;
}

g.node.selected path {
    stroke: #3f3f3f;
    fill: #efefef;
}

g.node.unselected:hover path {
    fill: #e5fffd;
}

g.node.unselected path {
    stroke-dasharray: 5 2;
    stroke: #3f3f3f;
    fill: #ffffff;
}

