name: Continuous integration
on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch: # allows manual triggering
env:
  # Bump this number to invalidate the GH actions cache
  cache-version: 0

jobs:
# Temporarily disabled: Error: Unable to resolve action. Repository not found: mrkkrp/ormolu-action
#  ormolu:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v3
#    - uses: mrkkrp/ormolu-action@v3
  buildifier:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v22
    - name: Buildifier check
      run: nix develop --command bazel test //:buildifier_test --verbose_failures
  build:
    strategy:
      matrix:
        target: ['//backend:skyscope']
        os: ['ubuntu-latest', 'macos-latest']
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.target }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v22
    - name: Build
      run: nix develop --command bazel build ${{ matrix.target }}
